<div class="container" id="home">
    <br><br><br><br><br><br><br><br>
    <div class ="container">
        <div class ="row">
            <div class ="col-md-2"></div>
            <div class ="col-md-4">

                {{!-- circle container and links around my picture --}}
                <div class="circle-container float-left">
                    <img src="images/headshot2.jpg" class="ellipse">
                    <a href="mailto:adam.ravitz@gmail.com"><img src="images/icons/gmail-icon.png" class="deg235 zoom"
                        style="width:20px;height:20px;"></a>
                    <a href="https://www.instagram.com/schmavitz/"><img src="images/icons/insta-icon.png"
                        class="deg190 zoom" style="width:20px;height:20px;"></a>
                    <a href="https://github.com/a-ravitz"><img src="images/icons/github-icon.png" class="deg145 zoom"
                        style="width:20px;height:20px;"></a>
                    <a href="https://www.linkedin.com/in/adam-ravitz/"><img src="images/icons/linkedin-icon.png"
                        class="deg100 zoom" style="width:20px;height:20px;"></a>
                    <a href="./Adam Ravitz Resume.pdf"><img src="images/icons/resume-icon.png" class="deg55 zoom"
                        style="width:20px;height:20px;"></a>
                </div>
            </div>  

            {{!-- text next to the circle container  --}}
            <div class="col-md-6">
                <div class ="col-md-1"></div>
                <div class ="col-md-4">
                        <br><br><br><br>
                        <p class="center">Full Stack </p><hr class="bold"><p class="center">Web Developer</p></div>
                <div class ="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br><br><br><br><br><br>
                <div class="h2">About Me</div>
                <hr><br>
                <p>Summer of 2005, I moved to Philadelphia to study music at the University of The Arts. Since school I
                    have had the opportunity to play hundreds of shows, but my most noteworthy musical accomplishment
                    has been touring with one of my grandfather's favorites, the Glenn Miller Orchestra.</p><br>
                <p>When I stopped touring with the GMO in 2011, I began working in bars. I've had every job imaginable,
                    from barbacking and changing kegs, to managing the team, creating drinks, and serving
                    alongside some of the city's best bartenders at Franklin Mortgage and Investment, Co. In 2016 I took
                    another step deeper into the booze business by becoming a brand ambassador for Louisville
                    Distilling,
                    Co., representing Angel's Envy Bourbon. </p><br>
                <p>When I'm not working, playing bass, cooking, or riding my bike, I'm creating innovative web apps,
                    and honing my skills as a full stack web developer. </p><br><br><br>

            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="container" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br><br><br><br><br><br>
                <div class="h2">Portfolio</div>
                <hr>


{{!-- new card dreck --}}
 
<div class="card-deck mb-2">
{{!-- Purple --}}

    <div class="card purpleground promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2"><span class="t1">P</span><span class="t2">U</span><span class="t3">R</span><span
                                        class="t4">P</span><span class="t5">L</span><span class="t6">E</span></h5></h4>
                <p class="card-text text-light fontB">A hangman style game where you have to guess the name of the shade of purple that is in the background</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0 mt-2 mb-5" src="images/purple.png" style="height: 328px;" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br class="lH1">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent1">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            </p>
        <a class="collapsed mt-auto fontB" data-toggle="collapse" href="#collapseContent1" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-1">Technology Used</span></a>
        <a class="float-right card-link text-secondary mt-auto fontB"  href="https://a-ravitz.github.io/word-guess-game/" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Visit The Site</span></a>
        </div>
    </div>
    </div>

{{!-- Star Trek Trivia --}}

     <div class="card whiteGround promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2">Star Trek Trivia</h4>
                <p class="card-text fontB">A Star Trek: The Next Generation trivia game made with jQuery</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top blackground mt-2 mb-2s" src="images/startrek.jpg" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br><br class="lH2"><br class="lH">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent2">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
            </p>
        </div>
        <div class="footer">
        <a class="collapsed fontB mt-auto" data-toggle="collapse" href="#collapseContent2" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB mt-auto"  href="https://a-ravitz.github.io/trivia-game/index.html" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-3">Visit The Site</span></a>
        </div>
    </div>
    </div>

{{!-- Crystal Collector Card --}}

    <div class="card blackground2 promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title text-light fontA mb-2">Crystal Collector</h4>
                <p class="card-text text-light fontB">A fun JavaScript game where you have to match the number by clicking the crystals</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0" src="images/quartz.jpg" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br><br><br class="lH">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent3">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height: 40px; width 40px; background-color: #706666;" src="images/icons/tech/jquery.png">

            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent3 " aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-3">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://a-ravitz.github.io/unit-4-game/index.html" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-4">Visit The Site</span></a>
        </div>
    </div>
    </div>
</div>
{{!-- new card dreck --}}

<div class="card-deck mb-2">
{{!-- Simpsons Giffy --}}

    <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2">Simpsons Giffy</h4>
                <p class="card-text fontB">Search Spotify for song information, IMDB for movie
                            information, or Bands In Town for concert information</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0 mb-1 mt-5" src="images/simpsons.jpg" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br><br><br>
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent4">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height:35px; width:40px;" src="images/icons/tech/mysql.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
             <img class="bL" style="height: 55px; width 55px;" src="images/icons/tech/bootstrap.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
             <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/ajax.jpg">
            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent4" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-4">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://a-ravitz.github.io/gifTastic/" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-5">Visit The Site</span></a>
        </div>
    </div>
    </div>

{{!-- Train Scheduler --}}

     <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2">Train Scheduler</h4>
                <p class="card-text fontB">An app that simulates a storefront with seperate manager and supervisor
                            portals</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top blackground mt-5 mb-5" src="images/train.jpg" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br>
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent5">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height: 55px; width 55px;" src="images/icons/tech/bootstrap.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/firebase.png">
            </p>
        </div>
        <div class="footer">
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent5" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-5">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://a-ravitz.github.io/TrainScheduler" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Visit The Site</span></a>
        </div>
    </div>
    </div>

{{!-- Drum Kit --}}

    <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA ">Drum Kit</h4>
                <p class="card-text fontB">A vanilla JavaScript drum kit that emulated a Roland808 that you can control with your keyboard </p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0 mt-5 mb-4" src="images/space.jpeg" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        
        <br class="lH1"><br class="lH1">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent6">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL mb-1" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent6" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://a-ravitz.github.io/drums" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-1">Visit The Site</span></a>
        </div>
    </div>
    </div>
</div>


{{!-- new card dreck --}}

<div class="card-deck mb-2">
{{!-- LIRI card --}}

    <div class="card promoting-card blackground1">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title text-light fontA mb-2">LIRI</h4>
                <p class="card-text text-light fontB">Search Spotify for song information, IMDB for movie
                            information, or Bands In Town for concert information</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0 mt-5" src="images/node_liri.png" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br><br><br>
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent7">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height:35px; width:40px;" src="images/icons/tech/mysql.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
            <img class="bL" style="height: 40px; width 40px; background-color: #706666;" src="images/icons/tech/node.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/inquirer.svg">
            <img class="bL ml-1" style="height: 35px; width 35px;" src="images/icons/tech/axios.png">
            <img class="bL" style="height: 35px; width 20px;" src="images/icons/tech/spotify.png">
            <img class="bL" style="height: 35px; width 20px;" src="images/icons/tech/bandsintown.png">


            

            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent7" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://github.com/a-ravitz/liri-node-app" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-5">View The Readme</span></a>
        </div>
    </div>
    </div>

{{!-- Bamazon Card --}}

     <div class="card promoting-card">
            <div class="card-body d-flex blackground flex-row">
            <div>
                <h4 class="card-title fontA text-light mb-2">Bamazon</h4>
                <p class="card-text fontB text-light">An app that simulates a storefront with seperate manager and supervisor
                            portals</p>
            </div>
            </div>
        <div class="view blackground overlay">
            <img class="card-img-top blackground mt-5 mb-5" src="images/bamazon.png" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body blackground">
        <br class="lH1"><br class="lH2"><br class="lH2">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent8">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height:35px; width:40px;" src="images/icons/tech/mysql.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
            <img class="bL" style="height: 40px; width 40px; background-color: #706666;" src="images/icons/tech/node.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/inquirer.svg">
            </p>
        </div>
        <div class="footer">
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent8" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-5">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://github.com/a-ravitz/bamazon" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-4">View the Readme</span></a>
        </div>
    </div>
    </div>

{{!-- Friend Finder --}}

    <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2">Friend Finder</h4>
                <p class="card-text fontB">A dating app that utilizes node and express</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0" src="images/friendfinder1.png" style="height: 328px;" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br>
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent9">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height: 55px; width 55px;" src="images/icons/tech/bootstrap.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/node.png">
            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent9" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-4">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://salty-coast-26430.herokuapp.com/" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-3">Visit The Site</span></a>
        </div>
    </div>
    </div>
</div>

{{!-- new card dreck --}}

<div class="card-deck">
{{!-- eat dat burger card --}}

    <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2">Eat Da Burger</h4>
                <p class="card-text fontB">An app that uses Node, Handlebars, and SQL to keep track of all
                            the burgers you devour</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0 mb-3" src="images/burger.png" style="height: 328px;" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent10">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height:35px; width:40px;" src="images/icons/tech/mysql.png">
            <img class="bL" style="height: 55px; width 55px;" src="images/icons/tech/bootstrap.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/node.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/handlebars.png">
            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent10" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-3">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://ancient-scrubland-21847.herokuapp.com/" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Visit The Site</span></a>
        </div>
    </div>
    </div>

{{!-- Hygge At Home Card --}}

     <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title fontA mb-2">Hygge At Home</h4>
                <p class="card-text fontB">A site that utilizes a perosnality test to help you buy your perfectfurniture</p>
            </div>
            </div>
        <div class="view overlay">
            <div class="wrapper">
            <img class="card-img-top rounded-0 imgHeight p-2 mt-5 mb-5" src="images/Logo(full)(pink).png" alt="Card image cap"><a href="#!">
                </div>
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <br><br class="lH2"><br class="lH">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent11">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height:35px; width:40px;" src="images/icons/tech/mysql.png">
            <img class="bL" style="height: 55px; width 55px;" src="images/icons/tech/bootstrap.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/node.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/passport.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/handlebars.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/etsy.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/ajax.jpg">


            </p>
        </div>
        <div class="footer">
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent11" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-2">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontB"  href="https://evening-wave-34109.herokuapp.com/" aria-expanded="false" aria-controls="collapseContent"><span class="my-text-color-1">Visit The Site</span></a>
        </div>
    </div>
    </div>

{{!-- Al Jazeera Card --}}

    <div class="card orangeground promoting-card">
            <div class="card-body d-flex flex-row">
            <div>
                <h4 class="card-title text-light fontA">Al Jazeera Scraper</h4>
                <p class="card-text fontB">Scrape Al Jazeera for the latest news, and take notes on your saved articles</p>
            </div>
            </div>
        <div class="view overlay">
            <img class="card-img-top rounded-0" src="images/aljazeera.jpeg" style="height: 320px;" alt="Card image cap"><a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
    </div>
    <div class="card-body">
        <div class="collapse-content">
        <p class="card-text collapse row" id="collapseContent12">
            <img style="height: 40px; width 40px;" src="images/icons/tech/html5.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/css.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/javascript.png">
            <img class="bL" style="height:35px; width:85px;" src="images/icons/tech/mongo.png">
            <img class="bL" style="height: 55px; width 55px;" src="images/icons/tech/bootstrap.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/jquery.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/express.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/node.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/cheerio.png">
            <img class="bL" style="height: 40px; width 40px;" src="images/icons/tech/ajax.jpg">


            </p>
        <a class="collapsed fontB" data-toggle="collapse" href="#collapseContent12" aria-expanded="false" aria-controls="collapseContent"><span class="text-light">Technology Used</span></a>
        <a class="float-right card-link text-secondary fontBs"  href="https://ravitz-mongoscraper.herokuapp.com/" aria-expanded="false" aria-controls="collapseContent"><span class="text-light">Visit The Site</span></a>
        </div>
    </div>
    </div>
</div>




<div class="container" id="contact">
    <div class="row">
        <div class="col-md-12 icons">   
            <br><br><br><br><br><br>
            <div class="h2">Contact Me</div>
            <hr><br>

            <div id="simpleModal" class="modal">
                <div class="modal-content">
                    <div class="float-right"><span class="closeBtn">&times;</span></div>
                    <p>Thanks for the message, <span class="textName"></span></p>
                </div>
            </div>

            <div id="messages"></div>
            <form name="contactForm" id="contactForm" action="/send-email" method="POST">

                <div class="field">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="John Smith">
                </div><br>
                <div class="field">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email"
                        placeholder="example@gmail.com">
                </div><br>
                <div class="field">
                    <label for="message">Message</label>
                    <input name="message" class="form-control" id="message" rows="3"></input>
                    <small id="messagesuggestion" class="form-text text-muted">
                        <p class="my-text-color-4">Please feel free to write whatever you'd like here.</p>
                    </small>

                </div>
                <div class="row justify-content-between">
                    <div class="field col-md-6 my-1">
                        <button type="submit" class="btn submitBtn btn-outline my-text-color-5"
                            value="Submit" id="submitBtn" >Submit</button>
                        </div>
                    <div class="col-md-6 d-flex justify-content-between icons">
                        <a href="mailto:adam.ravitz@gmail.com"><img src="images/icons/gmail-icon.png"
                                style="width:20px;height:20px;"></a>
                        <a href="https://www.instagram.com/schmavitz/"><img src="images/icons/insta-icon.png"
                                style="width:20px;height:20px;"></a>
                        <a href="https://github.com/a-ravitz"><img src="images/icons/github-icon.png" 
                                style="width:20px;height:20px;"></a>
                        <a href="https://www.linkedin.com/in/adam-ravitz/"><img src="images/icons/linkedin-icon.png"
                                style="width:20px;height:20px;"></a>
                        <a href="./Adam Ravitz Resume.pdf"><img src="images/icons/resume-icon.png" 
                                style="width:20px;height:20px;"></a>
                        </div>
                        

                </div>
        </div>
        </form>
    </div>
</div> 
</div> 
                