
html, body {
    font-family: 'Arimo', sans-serif;
}
h1 {
    font-size: 40px;
    font-weight: lighter;
}
.my-text-color-1 {
    color: #7cb386;
}
.my-text-color-2 {
    color: #d7867b;
}
.my-text-color-3 {
    color: #7177ad;
}
.my-text-color-4 {
    color: #95c4ce;
}
.my-text-color-5 {
    color: #e37fa1;
}
.my-bg-color-1 {
    background-color: rgba(232,233,219,0.2);
}
.my-bg-color-2 {
    background-color: #f7f3f3;
}
.my-bg {
    background-color: transparent;
}
.btn {
    border-color: #7cb386;
}
hr {
    border-color: #95c4ce;
}
.bold {
    border-width: 2px;
}
.card {
    background-color: rgba(247,247,247);    
}
.card-body {
    z-index: 1;
}

.cardContainer {
    background: white;
    border: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 2%
    
}
.cardLink {
    height: 34px;
    margin: 10px;
    z-index: 2;
}



/* purple colors  */
.t1 {
    color: #301829;
}
.t2 {
    color: #4e2784;
}
.t3 {
    color: #5d3180;
}
.t4 {
    color: #7c017c;
}
.t5 {
    color: #9a00bf;
}
.t6 {
    color: #b901f7;
}
.black {
    color:black;
}
.blue {
    color: #6dd5e9;
}
.btn-group {
    border: none;
}
#item2 {
    background-color: #95c4ce;
}
body {
    line-height: 27px;
    background-color: #f7f3f3
}
.round {
    border-radius: 15%
}
#message {
    height: 80px;
}
.circle-container {
    position: relative;
    border-width: 4px;  
    border-style: solid;
    border-color: #95c4ce;
    shape-outside: circle(50%);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 13px;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 58%; 
    left: 55%;
    margin: -2.1em;
}
.circle-container img { 
    display: block; 
    width: 100%;
    height:100%;

}
.space {
    margin: auto 
}
.center {
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: slategrey;
} 
.deg55 { transform: rotate(280deg) translate(175px) rotate(-280deg); }
.deg100 { transform: rotate(100deg) translate(175px) rotate(-100deg); }
.deg145 { transform: rotate(145deg) translate(175px) rotate(-145deg); }
.deg190 { transform: rotate(190deg) translate(175px) rotate(-190deg); }
.deg235 { transform: rotate(235deg) translate(175px) rotate(-235deg); }

.ellipse {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.dropdown-menu {
    background-color: #f7f7f7;
}
.form-control {
    background-color: #f7f7f7
}
.fixed-top {
    width: 100%
}
.navbar {
    position: absolute !important;
    top: 0px;
    width: 100%;
    padding: 30px;
    margin-right: 250px;
    
}
@media (max-width: 994px) {
    .dropdown-toggle-split {
        display: none;
    }
    .navbar {
        width: 100%;
    }
    .icons a::before {
        content: "\A";
      }
 }

.modal{
    /* display: none; */
    position: fixed;
    z-index:    1;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    /* enable the scroll bar if needed */
    overflow: auto; 
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(255,255,255,0.9037990196078431) 0%, rgba(196,195,195,0.9) 10%, rgba(184,184,184,0.9) 20%, rgba(171,171,171,0.9) 30%, rgba(136,136,136,0.9) 40%, rgba(126,126,126,0.9) 47%, rgba(87,87,87,0.9) 60%, rgba(126,126,126,1) 73%, rgba(136,136,136,1) 83%, rgba(171,171,171,1) 93%, rgba(184,184,184,1) 100%);
}
.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(148, 119, 255, 0.2);
}
.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    width: 20px;

}
.closeBtn:hover, .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.submitBtn {
    height: 35px;
    text-align: center
}

/* .clock {
    width: 5px;
    height: 5px;
    border: 1px solid #589c87;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    box-shadow: 
        0 0 0px 4px rgba(0,0,0,0.1)
        inset 0 0 0 3px #efefef,
        inset 0 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2)
}
.clock-face {
    position: relative;
    width: 20px;
    height: 20px;
    transform: translateY(-3px)
}
.hand {
    width: 50%;
    height: 1px;
    background: #589c87;
    position: absolute;
    right: 100%;
    top: 10%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s; 
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1) */

      /* .cardCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
      } */
      
      .cards { 
        width: auto;
        height: 200px;
        background-color: #fff;
        background: linear-gradient(#f8f8f8, #fff);
        box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        margin: 10px;
      }
      
      /* .cards h2 {
        text-align: center;
      } */
      
      .cards .additional {
        Font-Family: 'Playfair Display', Serif;
        position: absolute;
        width: 150px;
        height: 100%;
        transition: width 0.75s;
        background: linear-gradient(#dE685E, #EE786E);
        overflow: hidden;
        z-index: 2;
      }
      
      .fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
      }
      
      @keyframes fadeInOpacity {
          0% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }

    .cards:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
    }
      
    .cards .additional .user-card {
    width: 150px;
    height: 100%;
    
    /* left: 20px; */
    position: relative;
    float: left;
    }
    
    /* .cards .additional .user-card h2 {
    right: 20px;
    } */
    .cards img{
    position: relative;
    right: 20px;
    width: 200px;
    height: 200px;
    -webkit-clip-path: inset(0% 13% 0 0);
    clip-path: inset(0 13% 0 0);
    }
    
    .cards .additional .user-card .points {
    top: 85%;
    }
    
    .cards .additional .user-card svg {
    top: 50%;
    }

    /* .more-info .left {
    right: 35px;
    } */

    .cardTitle {
    Font-Family: 'PT Sans', Sans-Serif;     
    text-align: unset;
    margin-left: 105px;
    /* margin-right: auto; */
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    /* margin-left: auto; */
    /* text-transform: uppercase */
    /* overflow: auto */
    }

    /*technologies used*/
    .cards .additional .more-info {
    width: auto ;
    margin-left: 20px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
    
    }
    
    .cards .additional .more-info h2 {
    position: relative;
    width: 200px;    
    right: 13px;
    color: #fff;
    margin-bottom: 0;
    }
    
    /* .cards.green .additional .more-info h1 {
    color: #224C36;
    }
     */
    .cards .additional .coords {
    /* margin: 0 10px; */
    color: #fff;
    font-size: 14px;
    }
    
    .cards .additional .coords span + span {
    float: right;
    }
    
    .small {
    Font-Family: 'Playfair Display', Serif;
    text-align: center;
    
    font-size: 15px;
    line-height: 20px;
    }

 
    .cards .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
    }
    
    .cards .additional .stats > div {
    flex: 1;
    text-align: center;
    }
    
    .cards .additional .stats i {
    display: block;
    }
    
    .cards .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    }


    .cards .additional .stats div.value {
    
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    }
    
    /* .cards .additional .stats div.value.infinity {
    font-size: 2.5rem;
    } */
    
    .cards .general {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 140px;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
    overflow: auto
    }
    
    .cards .general .more {
    position: absolute;
    bottom: 1rem;
    right: 30px;
    font-size: 1px;
    } 