.my-text-color-1 {
    color: #7cb386;
}
.my-text-color-2 {
    color: #d7867b;
}
.my-text-color-3 {
    color: #7177ad;
}
.my-text-color-4 {
    color: #95c4ce;
}
.my-text-color-5 {
    color: #e37fa1;
}
.my-bg-color-1 {
    background-color: rgba(232,233,219,0.2);
}
.my-bg-color-2 {
    background-color: #f7f3f3;
}
.btn {
    border-color: #7cb386;
}

hr {
    border-color: #95c4ce;
}

.card {
    background-color: rgba(247,247,247);    
}
.card-body {
    z-index: 1;
}
/* purple colors  */
.t1 {
    color: #301829;
}
.t2 {
    color: #4e2784;
}
.t3 {
    color: #5d3180;
}
.t4 {
    color: #7c017c;
}
.t5 {
    color: #9a00bf;
}
.t6 {
    color: #b901f7;
}
.black {
    color:black;
}
.blue {
    color: #6dd5e9;
}
/* .btn {
    border: none;
} */
.btn-group {
    border: none;
}
#item2 {
    background-color: #95c4ce;
}
body {
    line-height: 27px;
    background-color: #f7f3f3
}
.round {
    border-radius: 15%
}
#form-message {
    height: 140px;
}
.circle-container {
    position: relative;
    /* border-style: dotted; */
    /* border-color: black; */
    shape-outside: ellipse(50%);
    width: 300px;
    height: 300px;
    /* padding: 2.8em; */
    /* 2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2)) */
    /* border: dashed 1px; */
    /* border-radius: 44%; */
    top: 5px;
    margin: 15,px;
    /* clip-path: circle(50% 50% at 50% 50%); */
}
.circle-container a {
    display: block;
    position: absolute;
    top: 57%; 
    left: 48%;
    /* width: 2em; height: 1100px; */
    /* clip-path: ellipse(44% 50% at 50% 50%); */
    margin: -2.1em;
}
/* .circle-container img { display: block; width: 85%; } */
.deg120 { transform: rotate(115deg) translate(155px) rotate(-115deg); }
.deg180 { transform: rotate(155deg) translate(120px) rotate(-155deg) }
.deg225 { transform: rotate(205deg) translate(120px) rotate(-205deg); }
.deg270 { transform: rotate(243deg) translate(145px) rotate(-243deg); }
.center {
    position: absolute;
    align-content: center;  
    top: 0px;
    right: 5%;
    height: 300px;
    width: 235px;
}
.ellipse {
    clip-path: ellipse(45% 50% at 48% 50%);
}
.dropdown-menu {
    background-color: #f7f7f7;
}
.form-control {
    background-color: #f7f7f7
}
@media (max-width: 994px) {
    .dropdown-toggle-split {
        display: none;
    }
 }

/* .clock {
    width: 5px;
    height: 5px;
    border: 1px solid #589c87;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    box-shadow: 
        0 0 0px 4px rgba(0,0,0,0.1)
        inset 0 0 0 3px #efefef,
        inset 0 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2)
}
.clock-face {
    position: relative;
    width: 20px;
    height: 20px;
    transform: translateY(-3px)
}
.hand {
    width: 50%;
    height: 1px;
    background: #589c87;
    position: absolute;
    right: 100%;
    top: 10%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s; 
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1) */