.my-text-color-1 {
    color: #7cb386;
}
.my-text-color-2 {
    color: #d7867b;
}
.my-text-color-3 {
    color: #7177ad;
}
.my-text-color-4 {
    color: #95c4ce;
}
.my-text-color-5 {
    color: #e37fa1;
}
.my-bg-color-1 {
    background-color: rgba(232,233,219,0.2);
}
.my-bg-color-2 {
    background-color: #f7f7f7;
}
.btn {
    border-color: #7cb386;
}

hr {
    border-color: #95c4ce;
}

.card {
    background-color: rgba(247,247,247);    
}
.card-body {
    z-index: 1;
}

/* purple colors  */
.t1 {
    color: #301829;
}
.t2 {
    color: #4e2784;
}
.t3 {
    color: #5d3180;
}
.t4 {
    color: #7c017c;
}
.t5 {
    color: #9a00bf;
}
.t6 {
    color: #b901f7;
}
.black {
    color:black;
}
.blue {
    color: #6dd5e9;
}